body{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(50, 48, 48);
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

.page_logo {
    font-family: 'Oleo Script', cursive;
    padding: 20px;
    margin-top: -50px;
    margin-bottom: -50px;
    color: rgb(43, 224, 221) !important; 
    font-size: 50px;
    text-shadow: 1px 1px 2px  rgb(0, 0, 0);
}

.flex {
    display: flex;
    justify-content: space-between;
}

header ul {
        display: flex;
        list-style: none;
        justify-content: end;
    }
    
header ul li {
        margin: 10px;
    }
    
header ul li a{
        text-decoration: none;
        color: rgb(43, 224, 221);
    }
    
header ul li a:hover {
        color: rgb(19, 127, 141);
    }

header p a{
    text-decoration: none;
    color: rgb(43, 224, 221);
}

main{
    margin: 50px auto 30px 100px;
}

main ul{
    display: flex;
    flex-wrap: wrap;
}

main ul li{
    list-style: none;
    margin: 5px 10px 10px 20px;
    display: flex;
    background-color: white !important;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 40%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

main ul li img{
    width: 240px;
    height: 200px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: 5px;
}

.wiki{
    margin-left: 220px;
}

.wiki a{
    text-decoration: none;
    color: rgb(15, 100, 228);
}

.wiki a:hover{
    color: rgb(6, 74, 176);
}

.section2{
    width: 82.5%;
}

.section2 .wiki{
    margin: 70px 2px 2px 800px;
}

.section2 .item_content p{
    width: 100%;
}